body{
  width: 1400px;
  height: 1046px;
  font-family: Roboto, Roboto Slab;
}
.sync{
  position: absolute;
  width: 112px;
  height: 66px;
  left: 121px;
  top: 21px;
  margin: 0 auto;
}
li{
  list-style-type: none;
}
.online{
  position: absolute;
  width: 130px;
  height: 32px;
  left: 151px;
  top: 187px;
  margin: 0 auto;
}
.hour{
  position: absolute;
  width: 130px;
  height: 32px;
  left: 338px;
  top: 187px;
  margin: 0 auto;
}
.september{
  position: absolute;
  width: 130px;
  height: 32px;
  left: 500px;
  top: 187px;
  margin: 0 auto;
}
ul{
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  margin: 0 auto;
}
.globe{
  position: absolute;
  width: 22px;
  height: 21px;
  left: 121px;
  top: 184px;
  margin: 0 auto;
}
.clock{
  position: absolute;
  width: 22px;
  height: 22px;
  left: 306px;
  top: 183px;
  margin: 0 auto;
}
.calendar{
  position: absolute;
  width: 20px;
  height: 22px;
  left: 467px;
  top: 183px;
  margin: 0 auto;
}
h1{
  position: absolute;
  width: 628px;
  height: 190px;
  left: 122px;
  top: 248px;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 101.38%;
  margin: 0 auto;
}
h6{
  position: absolute;
  width: 414px;
  height: 62px;
  left: 122px;
  top: 427px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 0 auto;
}
.director{
  position: absolute;
  width: 304px;
  height: 356px;
  left: 890px;
  top: 223px;
  margin: 0 auto;
}
.ellipse{
  position: absolute;
  width: 274px;
  height: 41px;
  left: 921px;
  top: 558px;
  margin: 0 auto;
  clip-path: ellipse(170px 20px);
  z-index: -1;
}
.author{
  position: absolute;
  width: 483.63px;
  height: 200.02px;
  left: 409.39px;
  top: 666.62px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .body{
    width: 834px;
    height: 633px;
    top: -512px;
    left: 891px;
  }
  .sync{
    position: absolute;
    width: 64.87px;
    height: 38.23px;
    left: 70.08px;
    top: 22px;
}
  ul{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}  
  .online{
    position: absolute;
    width: 75.29px;
    height: 18.53px;
    left: 87.45px;
    top: 118.14px;
    margin: 0 auto;
}
  .globe{
    position: absolute;
    width: 12.74px;
    height: 12.16px;
    left: 70.08px;
    top: 116.4px;
    margin: 0 auto;
}
  .hour{
    position: absolute;
    width: 75.29px;
    height: 18.53px;
    left: 195.76px;
    top: 118.14px;
    margin: 0 auto;
}
  .clock{
    position: absolute;
    width: 12.74px;
    height: 12.74px;
    left: 177.23px;
    top: 115.83px;
    margin: 0 auto;
}
  .september{
    position: absolute;
    width: 75.29px;
    height: 18.53px;
    left: 289.58px;
    top: 118.14px;
    margin: 0 auto;
}
  .calendar{
    position: absolute;
    width: 11.58px;
    height: 12.74px;
    left: 270.47px;
    top: 115.83px;
    margin: 0 auto;
}
  h1{
    position: absolute;
    width: 363.72px;
    height: 110.04px;
    left: 70.66px;
    top: 144.2px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 46px;
    line-height: 101.38%;
}
  h6{
    position: absolute;
    width: 264px;
    left: 71px;
    height: 36px;
    font-weight: 400;
    font-size: 12px;
    top: 257px;
    margin: 0 auto;
    line-height: 150%;
}
  .director{
    width: 176.07px;
    position: absolute;
    left: 515.46px;
    height: 206.18px;
    margin: 0 auto;
    top: 138.99px;
}
  .ellipse{
    width: 158.69px;
    position: absolute;
    left: 533.41px;
    height: 23.75px;
    top: 333.01px;
    margin: 0 auto;
    clip-path: ellipse(100px 15px);
    z-index: -1;
}
  .author{
    width: 280.11px;
    position: absolute;
    left: 237.1px;
    height: 115.83px;
    margin: 0 auto;
    top: 395.92px;
}
}
@media (max-width: 600px) {
  body{
    width: 375px;
    height: 776px;
    top: -512px;
    left: 1896px;
}
  .sync{
    width: 52.19px;
    position: absolute;
    left: 35px;
    height: 30.75px;
    margin: 0 auto;
    top: 36px;
}
  .online{
    width: 60.58px;
    position: absolute;
    left: 48.98px;
    height: 14.91px;
    font-weight: 400;
    top: 111.35px;
    line-height: 115%;
    font-size: 10px;
    margin: 0 auto;
}
  .globe{
    width: 10.25px;
    position: absolute;
    left: 35px;
    height: 9.79px;
    margin: 0 auto;
    top: 111.95px;
}
  .hour{
    width: 60.58px;
    position: absolute;
    left: 136.12px;
    height: 14.91px;
    font-weight: 400;
    top: 111.35px;
    line-height: 115%;
    font-size: 10px;
    margin: 0 auto;
}
  .clock{
    width: 10.25px;
    position: absolute;
    left: 121.21px;
    height: 10.25px;
    margin: 0 auto;
    top: 111.49px;
}
  .september{
    width: 60.58px;
    position: absolute;
    left: 211.6px;
    height: 14.91px;
    font-weight: 400;
    top: 111.35px;
    line-height: 115%;
    font-size: 10px;
    margin: 0 auto;
}
  .calendar{
    width: 9.32px;
    position: absolute;
    left: 196.23px;
    height: 10.25px;
    margin: 0 auto;
    top: 111.49px;
}
  h1{
    width: 292.63px;
    position: absolute;
    left: 35.47px;
    height: 88.53px;
    font-family: 'Roboto Slab';
    top: 134.32px;
    font-size: 37px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 101.38%;
}
  h6{
    width: 212.4px;
    position: absolute;
    left: 35.74px;
    height: 28.96px;
    font-family: 'Roboto';
    top: 225.07px;
    font-size: 10px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 150%;
}
  .director{
    width: 141.66px;
    position: absolute;
    left: 201px;
    height: 165.89px;
    margin: 0 auto;
    top: 254px;
}
  .ellipse{
    width: 127.68px;
    position: absolute;
    left: 215px;
    height: 19.1px;
    margin: 0 auto;
    top: 410px;
    clip-path: ellipse(80px 10px);
    z-index: -1;
}
  .author{
    width: 225.36px;
    position: absolute;
    left: 37.98px;
    height: 93.19px;
    margin: 0 auto;
    top: 467.75px;
}
}
