@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    width: 100%;
}
h3{
font-family: Roboto Slab;
font-size: 55px;
font-weight: 700;
line-height: 55.76px;
text-align: left;
margin-bottom: 100px;



}
img{
    width: 100%;
}
.one{
    font-family: Roboto;
font-size: 30px;
font-weight: 700;
line-height: 39px;
text-align: left;
margin-bottom: 30px;
margin-left: 14px;
}

.two{
    font-family: Roboto;
font-size: 25px;
font-weight: 400;
line-height: 32.5px;
text-align: left;
margin-left: 14px;
margin-bottom: 5px;
}


.main-text{
 width: 30%;
 border-radius: 30px;
 margin-bottom: 40px;
 box-shadow: 0 3px 10px #00000040;



}
.main{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
 }
 @media (min-width: 300px) and (max-width: 600px) {
    .main {
        width: 95%;
    }

    .main-text {
        width: 65%;
    }
}

@media (min-width: 601px) and (max-width: 991px) {
    .main {
        width: 85%;
    }

    .main-text {
        width: 49%;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .main {
        width: 75%;
    }

    .main-text {
        width: 27%;
    }
}